a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,mark,menu,nav,nav li,nav ul,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,var,video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	font: inherit;
	font-size: 100%;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display: block;
}

ol,ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

blockquote,q {
	quotes: none;
}

blockquote:after,blockquote:before,q:after,q:before {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
}

.txt-rt {
	text-align: right;
}

.txt-lt {
	text-align: left;
}

.txt-center {
	text-align: center;
}

.float-rt {
	float: right;
}

.float-lt {
	float: left;
}

.clear {
	clear: both;
}

.pos-relative {
	position: relative;
}

.pos-absolute {
	position: absolute;
}

.vertical-base {
	vertical-align: baseline;
}

.vertical-top {
	vertical-align: top;
}

nav.vertical ul li {
	display: block;
}

nav.horizontal ul li {
	display: inline-block;
}

img {
	max-width: 100%;
}

body {
	background: #eee;
	font-family: HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.bg img {
	position: fixed;
	top: 0;
	z-index: -100;
	width: 100%;
	height: 100%;
	opacity: .6;
}

.main {
	margin: 7em auto 0;
	width: 80%;
	border-radius: 10px;
	background: #fff;
}

.header {
	padding: 1.3em;
	text-align: center;
}

.header h1 {
	color: #272727;
	font-weight: 700;
	font-size: 22px;
}

.main p {
	margin-top: -13px;
	padding: 20px 30px;
	border-bottom: 1px solid #e7e0e0;
	color: #383737;
	text-align: center;
	font-weight: 600;
	font-size: 15px;
}

.main h2,.main h3 {
	margin: 15px 3px;
	color: #3f3d3d;
	text-align: left;
	font-weight: 600;
	font-size: 17px;
}

.left-form,.right-form {
	float: left;
	margin: 22px 28px;
	width: 80%;
}

.left-form input[type=email],.left-form input[type=password],.left-form input[type=text],.left-form input[type=url] {
	float: left;
	float: left;
	padding: .7em 2em .7em 1em;
	width: 80%;
	outline: 0;
	border: none;
	color: #000;
	font-size: 15px;
	font-family: HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

form {
	padding-bottom: 2em;
}

.right-form li {
	display: block;
	margin-bottom: 10px;
	border: 1px solid #ebebeb;
	-webkit-border-radius: .3em;
	-moz-border-radius: .3em;
	border-radius: .3em;
	color: #4d4949;
	-o-border-radius: .3em;
}

.right-form input[type=text],input[type=password] {
	padding: .7em 1em .7em 1em;
	width: 90%;
	outline: 0;
	border: none;
	color: #000;
	font-size: 15px;
	font-family: HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.left-form li {
	display: block;
	margin-bottom: 10px;
	border: 1px solid #ebebeb;
	-webkit-border-radius: .3em;
	-moz-border-radius: .3em;
	border-radius: .3em;
	color: #4d4949;
	-o-border-radius: .3em;
}

.icon {
	float: right;
	display: block;
	margin: 7px 9px 9px 0;
	width: 28px;
	height: 28px;
	background: url(../images/spirit.png) no-repeat;
}

.ticker {
	background: url(../images/spirit.png) no-repeat 0 0;
}

.into {
	background: url(../images/spirit.png) no-repeat -31px 0;
}

.left-form submit,.right-form submit {
	float: left;
}

.main h4 {
	float: left;
	color: #363535;
	font-weight: 600;
	font-size: 13px;
}

.left-form input[type=submit],.right-form input[type=submit] {
	margin-top: 15px;
	padding: 10px 19px;
	outline: 0;
	border: 1px solid #ebebeb;
	-webkit-border-radius: .3em;
	-moz-border-radius: .3em;
	border-radius: .3em;
	background: #f3f3f3;
	color: #4d4949;
	font-weight: 700;
	font-size: 15px;
	cursor: pointer;
	-webkit-transition: all .5s ease-out;
	-moz-transition: all .5s ease-out;
	-o-transition: all .5s ease-out;
	transition: all .5s ease-out;
	-o-border-radius: .3em;
	-ms-transition: all .5s ease-out;
}

input[type=submit]:hover {
	background: #2e2d2d;
	color: #fff;
}

.uncheked {
	display: block;
	width: 28px;
	height: 40px;
	background: url(../images/check-icon.png) no-repeat;
}

.cheked {
	display: block;
	width: 28px;
	height: 40px;
	background: url(../images/check-icon.png) no-repeat 50% 50%;
}

.disabled {
	display: block;
	width: 28px;
	height: 40px;
	background: url(../images/check-icon.png) no-repeat 0 100%;
}

.price-selection-tree input[type=checkbox] {
	display: none;
}

.price-selection-tree input[type=checkbox]+label {
	float: left;
	display: block;
	margin-top: -.3em;
	height: 76px;
	font-weight: 600;
	font-size: 13px;
	cursor: pointer;
}

.checkbox-grid-left p {
	display: block;
}

.left-form>label {
	float: left;
	margin-top: 2px;
	margin-left: 10px;
	color: #4c4a4a;
	vertical-align: super;
	font-weight: 600;
	font-size: 13px;
}

input[type=checkbox].css-checkbox10+label i.css-label10 {
	display: inline-block;
	width: 28px;
	height: 40px;
	background: url(../images/check-icon.png) no-repeat 0 -82px;
	background-position: 0 0;
	background-repeat: no-repeat;
	line-height: 18px;
	cursor: pointer;
}

input[type=checkbox].css-checkbox10:checked+label i.css-label10 {
	height: 20px;
	background: url(../images/check-icon.png) no-repeat 0 -82px;
}

.copy-right {
	text-align: center;
}

.copy-right p {
	margin-top: 5em;
	color: #000;
	font-weight: 600;
	font-size: 1em;
}

.copy-right p a {
	color: #669a16;
	font-weight: 600;
	font-size: 1em;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
}

.copy-right a:hover {
	color: #000;
}

@media only screen and (max-width:1920px) and (min-width:1680px) {
	.main {
		margin: 6em auto 0;
		width: 35%;
	}

	.copy-right p {
		margin: 3.5em 0;
	}
}

@media only screen and (max-width:1680px) and (min-width:1440px) {
	.main {
		margin: 6em auto 0;
		width: 35%;
	}

	.copy-right p {
		margin: 3.5em 0;
	}
}

@media only screen and (max-width:1440px) and (min-width:1366px) {
	.main {
		margin: 6em auto 0;
		width: 35%;
	}

	.copy-right p {
		margin: 3.8em 0;
	}
}

@media only screen and (max-width:1366px) and (min-width:1280px) {
	.main {
		margin: 6em auto 0;
		width: 30%;
	}

	.left-form input[type=email],.left-form input[type=password],.left-form input[type=text],.left-form input[type=url] {
		width: 74%;
		font-family: HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
	}

	.right-form input[type=text],input[type=password] {
		width: 74%;
		font-family: HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
	}

	.copy-right p {
		margin: 4em 0;
	}
}

@media only screen and (max-width:1280px) and (min-width:1024px) {
	.main {
		margin: 5em auto 0;
		width: 36%;
	}

	.copy-right p {
		margin: 3.5em 0;
	}
}

@media only screen and (max-width:1024px) and (min-width:768px) {
	.main {
		margin: 5em auto 0;
		width: 38%;
	}

	.left-form input[type=email],.left-form input[type=password],.left-form input[type=text] {
		width: 78%;
		font-family: HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
	}

	.right-form input[type=text],input[type=password] {
		width: 86%;
		font-family: HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
	}

	.copy-right p {
		margin: 3.5em 0;
	}
}

@media only screen and (max-width:768px) and (min-width:640px) {
	.main {
		margin: 5em auto 0;
		width: 40%;
	}

	.left-form input[type=email],.left-form input[type=password],.left-form input[type=text] {
		padding: .7em 1em .7em 1em;
		width: 70%;
		font-family: HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
	}

	.right-form input[type=text],input[type=password] {
		padding: .7em 1em .7em 0;
		width: 89%;
		font-family: HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
	}

	.left-form {
		width: 88%;
		text-align: center;
	}

	.right-form {
		float: none;
		width: 88%;
		text-align: center;
	}

	.left-form>label {
		margin-top: 13px;
		margin-left: 42px;
	}

	.main h2,.main h3 {
		text-align: center;
	}

	.left-form li {
		margin-left: 32px;
	}

	.right-form li {
		margin-left: 20px;
	}

	.left-form input[type=submit] {
		float: right;
		margin: 2px 0;
		padding: 12px 12px;
	}

	.main h4 {
		float: left;
		margin: 7px 36px;
	}

	.main h3 {
		margin-top: -2em;
	}

	.right-form input[type=submit] {
		float: right;
		margin: 2px 3px;
		padding: 8px 19px;
	}

	.copy-right p {
		margin: 3.5em 0;
	}
}

@media only screen and (max-width:640px) and (min-width:480px) {
	.main {
		margin: 5em auto 0;
		width: 95%;
	}

	.left-form input[type=email],.left-form input[type=password],.left-form input[type=text] {
		padding: .7em 1em .7em 1em;
		width: 70%;
		font-family: HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
	}

	.right-form input[type=text],input[type=password] {
		padding: .7em 1em .7em 0;
		width: 89%;
		font-family: HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
	}

	.left-form {
		width: 88%;
		text-align: center;
	}

	.right-form {
		float: none;
		width: 88%;
		text-align: center;
	}

	.left-form>label {
		margin-top: 13px;
		margin-left: 42px;
	}

	.main h2,.main h3 {
		text-align: center;
	}

	.left-form li {
		margin-left: 13px;
	}

	.right-form li {
		margin-left: 16px;
	}

	.left-form input[type=submit] {
		float: none;
		padding: 12px 12px;
		text-align: center;
	}

	.main h4 {
		float: left;
		margin: 7px 17px;
	}

	.right-form input[type=submit] {
		float: right;
		margin: 2px 3px;
		padding: 8px 19px;
	}

	.copy-right p {
		margin: 3.5em 0;
	}
}

@media only screen and (max-width:480px) and (min-width:320px) {
	.main {
		margin: 2em auto 0;
		width: 95%;
	}

	.main p {
		padding: 16px 20px;
	}

	.left-form input[type=email],.left-form input[type=password],.left-form input[type=text] {
		padding: .7em 1em .7em 1em;
		width: 70%;
		font-family: HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
	}

	.right-form input[type=text],input[type=password] {
		padding: .7em 2em .7em 0;
		width: 89%;
		font-family: HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
	}

	.left-form,.right-form {
		float: none;
		width: 83%;
		text-align: center;
	}

	.left-form>label {
		margin-top: 13px;
		margin-left: 10px;
	}

	.main h2,.main h3 {
		text-align: center;
	}

	.left-form li {
		margin-left: 13px;
	}

	.right-form li {
		margin-left: 16px;
	}

	.left-form input[type=submit] {
		margin: 9px 0;
		padding: 12px 12px;
		text-align: center;
	}

	.main h4 {
		float: left;
		margin: 7px 17px;
	}

	.right-form input[type=submit] {
		float: right;
		margin: 2px 3px;
		padding: 8px 19px;
	}

	.copy-right p {
		margin: 3em 0;
	}
}

@media only screen and (max-width:320px) and (min-width:240px) {
	.main {
		margin: 2em auto 0;
		width: 96%;
	}

	.main p {
		padding: 16px 17px;
	}

	.left-form input[type=email],.left-form input[type=password],.left-form input[type=text] {
		padding: .4em 1em .4em 1em;
		width: 70%;
		font-family: HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
	}

	.right-form input[type=text],input[type=password] {
		padding: .6em .9em .6em 0;
		width: 89%;
		font-family: HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
	}

	.left-form,.right-form {
		text-align: center;
	}

	.left-form>label {
		margin-top: 13px;
		margin-left: 10px;
	}

	.main h2,.main h3 {
		text-align: center;
	}

	.left-form li {
		margin-left: -6px;
	}

	.right-form li {
		margin-left: -5px;
	}

	.left-form input[type=submit] {
		margin: 9px 0;
		padding: 12px 12px;
		text-align: center;
	}

	.main h4 {
		float: left;
		margin: 7px 17px;
	}

	.right-form input[type=submit] {
		float: right;
		margin: 2px 3px;
		padding: 8px 19px;
	}

	.copy-right p {
		margin: 2.5em 0;
	}

	.icon {
		margin: 7px 5px 9px 0;
	}
}
