#allmap {
	overflow: hidden;
	margin-top: 5px;
	width: 100%;
	height: 500px;
	font-family: "微软雅黑";
}

#tripMap {
	padding: 15px 5px 5px 5px;
}

.new_ul {
	overflow: hidden;
	margin: 0%;
	padding: 0%;
}

.fl {
	float: left;
	display: inline-block;
	margin-top: 10px;
	width: 100%;
}

.box {
	background-color: rgba(0, 0, 0, 0.1);
}

.box figure {
	display: inline-block;
	margin: 0%;
	padding: 0%;
	width: 150px;
	height: 150px;
}

.box figure img {
	width: 100%;
	height: 100%;
}

.box .tip {
	position: absolute;
	display: inline-block;
	padding: 15px;
	width: 570px;
	height: 150px;
}

.box .tip h3 {
	margin: 0;
	padding: 0;
}

.box .tip p {
	position: absolute;
	bottom: 10px;
	margin: 0;
	padding: 0;
	font-size: 14px;
}