<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>资讯</title>
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/news_info.css">
</head>

<body>

    <div class="container">
        <div class="header">
            <h1 class="logo">和煦天气</h1>
            <div class="searchBox">
                <form>
                    <input type="text" onfocus="this.value = '';" placeholder="输入城市、区县、景点名称 查天气" }"><input type="submit"
                        value="">
                </form>
            </div>

            <ul class="topNav">
                <li>
                    <a href="/index">首页</a>
                </li>
                <li>
                    <a href="/weather">天气</a>
                </li>
                <li>
                    <a href="/news">资讯</a>
                </li>
                <li>
                    <a href="/trip">出行</a>
                </li>
                <li>
                    <a href="/travel">旅游</a>
                </li>
            </ul>
            <ul class="topLR">
                <li>
                    <a href="/login">登录</a>/
                    <a href="/register">注册</a>
                </li>
            </ul>
            <div class="active_dp">
                <p>
                    <span><a href="/index">首页</a></span>
                    >>
                    <span>资讯</span>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="c-banner">
                <div class="banner">
                    <ul>
                        <li><img src="/static/images/u225_state1.png"></li>
                        <li><img src="/static/images/u225_state1.png"></li>
                        <li><img src="/static/images/u225_state1.png"></li>
                    </ul>
                </div>
                <div class="nexImg">
                    <img src="/static/images/nexImg.png" />
                </div>
                <div class="preImg">
                    <img src="/static/images/preImg.png" />
                </div>
                <div class="jumpBtn">
                    <ul>
                        <li jumpImg="0"></li>
                        <li jumpImg="1"></li>
                        <li jumpImg="2"></li>
                    </ul>
                </div>
            </div>

            <div class="leftcolumn">
                <div class="card">
                    <!-- <h2>新闻详情></h2> -->
                    <!-- --------------------------------------------- -->
                    <div id="box" class="box">
                            <!-- <h1 align="center">李登辉，感染肺炎了</h1>
                            <div class="top-bar-wrap" id="top-bar-wrap">
                                <div class="date-source">
                                    <span class="date">2020年02月24日 11:23</span>
                                    <a href="javascript:void(0);" class="source">北京日报客户端</a>
                                </div>
                            </div>
                            <img id="0" src="/static/newsimages/796d-ipvnszf3669158.jpg" alt=""/>
                            <div class="article" id="artibody">
                                <p class="article-content">　　原标题：李登辉，感染肺炎了 　　台湾地区前领导人李登辉本月8日因为喝牛奶呛到，住进台北荣民总医院。李登辉办公室主任王燕军昨天表示，李登辉感染肺炎，其肺部浸润已转为比较严重的肺炎。 　　据其介绍，李登辉因有心脏病，现阶段只能使用功效较弱的抗生素治疗，目前病情稳定且缓慢恢复中，李意识清楚，沟通上也可简单表达，但体能较虚弱。 　　李登辉今年已98岁。据台中时电子报报道，李在台北荣总住院治疗已超过两周。王燕军昨出面表示，李意识清楚，但毕竟年岁已高，加上呛到后引发肺炎，目前肺部积水正在控制中。 　　对于李登辉何时可出院，王燕军表示，很难预估，因为目前李比较虚弱，而且除了肺炎之外，还有之前的痼疾要兼顾。 　　王燕军解释，李的肺炎之所以无法积极治疗，是因他有心脏病，若使用强效抗生素，恐会影响心脏功能，因此只能用较弱的抗生素。 　　据台媒此前报道，李登辉2月8日因为喝牛奶呛到，咳嗽不停，被送往医院并留院观察。 　　2月16日，王燕军曾在受访时称：李登辉饮食、休息一切都正常，没有发烧，所有指数、量测、血压等等也都正常，但因为呛到，肺部浸润，如果浸润没有照顾好，又感染的话，会转成肺炎，因此，这段时间住院，让他慢慢恢复。 　　此前，对于李登辉的病况，其主治医师陈云亮曾透露，医院已下封口令，不便对外说明。</p>
                            </div>
                            <div class="article-bottom" id="article-bottom">
                                <div class="keywords">
                                    <label >文章关键词：</label>
                                    <a href="javascript:void(0);">抗生素,肺部,新冠肺炎</a>
                                </div>
                            </div> -->
                            <!-- <p>　　原标题：孟山都前华裔雇员因间谍罪在美被捕，耿爽：支持美方依法秉公处理，但反对借题发挥</p>
                            <img id="0" src="/static/newsimages/VHaJ-fysuuya7079718.jpg" alt=""/>
                            <p>　　[环球时报-环球网报道 记者 李司坤]据美国之音报道，孟山都公司一名前华裔雇员向海涛11月21日被联邦大陪审团以一项共谋经济间谍罪、三项经济间谍罪、一项共谋盗窃商业秘密罪和三项窃取商业秘密罪起诉。在22日，有路透社记者就此事提问，为此，发言人耿爽在回应中表示，美方若依法秉公地进行处理，中方没有意见，但坚决反对美方借题发挥。</p>
                            <p>　　耿爽在回应中称，你说的具体情况我不了解，但我想，无论任何人，中国公民还是美国公民，如果在美国有违法的行为，美方依法秉公地进行处理，我们对此没有意见，但我们坚决反对美方借题发挥，把一个普通的孤立的案件说成是中方有组织、有计划从美方窃取知识产权。</p>
                            <p>　　耿爽强调，第一，中国的科技成就一不靠偷，二不靠抢，是中国人民凭着智慧和汗水拼搏奋斗而来的；第二，中美加强科技交流合作符合双方共同利益，也有利于推动科技进步，造福全人类。</p> -->
                    </div>
                    <!-- --------------------------------------------- -->
                </div>
                
            </div>
            <div class="rightcolumn">
                <div class="card">
                    <h2>相关新闻</h2>
                    <!-- <a class="more" href="/travel">更多>></a> -->
                    <ul class="right" id="news_recommend">
                        <!-- <li><a href="javascript:void(0);" onclick="swap_infopage('test_new_id')" title="百亩花海迎国庆京津国色天香牡丹园开启秋游季">百亩花海迎国庆京津国色天香牡...</a></li>
                         <li><a href="javascript:void(0);" onclick="swap_infopage('test_new_id')" title="百亩花海迎国庆京津国色天香牡丹园开启秋游季">百亩花海迎国庆京津国色天香牡....</a></li>
                         <li><a href="javascript:void(0);" onclick="swap_infopage('test_new_id')" title="百亩花海迎国庆京津国色天香牡丹园开启秋游季">百亩花海迎国庆京津国色天香牡....</a></li>
                         <li><a href="javascript:void(0);" onclick="swap_infopage('test_new_id')" title="百亩花海迎国庆京津国色天香牡丹园开启秋游季">百亩花海迎国庆京津国色天香牡....</a></li>
                         <li><a href="javascript:void(0);" onclick="swap_infopage('test_new_id')" title="百亩花海迎国庆京津国色天香牡丹园开启秋游季">百亩花海迎国庆京津国色天香牡....</a></li>
                         <li><a href="javascript:void(0);" onclick="swap_infopage('test_new_id')" title="百亩花海迎国庆京津国色天香牡丹园开启秋游季">百亩花海迎国庆京津国色天香牡....</a></li>
                         <li><a href="javascript:void(0);" onclick="swap_infopage('test_new_id')" title="百亩花海迎国庆京津国色天香牡丹园开启秋游季">百亩花海迎国庆京津国色天香牡....</a></li>
                         <li><a href="javascript:void(0);" onclick="swap_infopage('test_new_id')" title="百亩花海迎国庆京津国色天香牡丹园开启秋游季">百亩花海迎国庆京津国色天香牡....</a></li>
                         <li><a href="javascript:void(0);" onclick="swap_infopage('test_new_id')" title="百亩花海迎国庆京津国色天香牡丹园开启秋游季">百亩花海迎国庆京津国色天香牡....</a></li>
                         <li><a href="javascript:void(0);" onclick="swap_infopage('test_new_id')" title="百亩花海迎国庆京津国色天香牡丹园开启秋游季">百亩花海迎国庆京津国色天香牡....</a></li> -->
                    </ul>
                </div>
                <div class="card">
                    <h2>周边旅游</h2>
                    <a class="more" href="/travel">更多>></a>
                    <ul class="right" id="surrounding_tour">
                        <!-- <li class="headerLine"><span class="view">景点</span><span>天气</span><span>气温</span></li>
                        <li class="firstLine"><span class="view">天津之眼</span><span>多云转阴</span><span>17 ~ 30℃</span></li>
                        <li><span class="view">意式风情街</span><span>多云转阴</span><span>17 ~ 30℃</span></li>
                        <li><span class="view">古文化街</span><span>多云转阴</span><span>17 ~ 30℃</span></li>
                        <li><span class="view">五大道</span><span>多云转阴</span><span>17 ~ 30℃</span></li>
                        <li><span class="view">瓷房子</span><span>多云转阴</span><span>17 ~ 30℃</span></li> -->
                    </ul>
                </div>
                <div class="card">
                    <h2>周边天气</h2>
                    <ul class="right" id="surrounding_weather">
                        <!-- <li class="headerLine"><span class="view">地区</span><span>天气</span><span>气温</span></li>
                        <li class="firstLine"><span class="view">和平区</span><span>多云转阴</span><span>17 ~ 30℃</span></li>
                        <li><span class="view">河东区</span><span>多云转阴</span><span>17 ~ 30℃</span></li>
                        <li><span class="view">河西区</span><span>多云转阴</span><span>17 ~ 30℃</span></li>
                        <li><span class="view">南开区</span><span>多云转阴</span><span>17 ~ 30℃</span></li>
                        <li><span class="view">河北区</span><span>多云转阴</span><span>17 ~ 30℃</span></li>
                        <li><span class="view">红桥区</span><span>多云转阴</span><span>17 ~ 30℃</span></li>
                        <li><span class="view">东丽区</span><span>多云转阴</span><span>17 ~ 30℃</span></li>
                        <li><span class="view">西青区</span><span>多云转阴</span><span>17 ~ 30℃</span></li>
                        <li><span class="view">津南区</span><span>多云转阴</span><span>17 ~ 30℃</span></li>
                        <li><span class="view">北辰区</span><span>多云转阴</span><span>17 ~ 30℃</span></li>
                        <li><span class="view">武清区</span><span>多云转阴</span><span>17 ~ 30℃</span></li>
                        <li><span class="view">宝坻区</span><span>多云转阴</span><span>17 ~ 30℃</span></li>
                        <li><span class="view">滨海新区</span><span>多云转阴</span><span>17 ~ 30℃</span></li>
                        <li><span class="view">宁河区</span><span>多云转阴</span><span>17 ~ 30℃</span></li>
                        <li><span class="view">静海区</span><span>多云转阴</span><span>17 ~ 30℃</span></li>
                        <li><span class="view">蓟州区</span><span>多云转阴</span><span>17 ~ 30℃</span></li> -->
                    </ul>
                </div>
            </div>
        </div>

        <div class="footer">
            <p>
                <span>相关链接：</span>
                <a target="_blank" href="http://www.cma.gov.cn/">中国气象局</a>
                <a target="_blank" href="http://www.chinamsa.org">中国气象服务协会</a>
                <a target="_blank" href="http://www.weathertv.cn/">中国天气频道</a>
                <a target="_blank" href="http://www.xn121.com/">中国天气网</a>
            </p>
            <hr>
            <p>Copyright &copy; 2019.和煦天气网 All rights reserved</p>
        </div>
    </div>

</body>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/banner.js"></script>
<script src="/static/js/news_info.js"></script>
<script src="/static/js/common.js"></script>
<script>

    $(function () {
        showBanner();

        //------------------------------------------------------
        //                     新闻详情                      
        //------------------------------------------------------
        write_new_info();

        //------------------------------------------------------
        //                     相关新闻                      
        //------------------------------------------------------
        write_new_recommendations();

        //------------------------------------------------------
        //                      周边天气                      
        //------------------------------------------------------

        // 1.查找本地存储是否有定位信息
        if (localStorage.getItem("location")) {
            // 2.如果有就直接发请求获取
            write_surrounding_weather();
        } else {
            // 3.如果没有,则程序获取用户定位信息,之后再发请求获取
            getLocation({ myfunc: write_surrounding_weather })
        }

        //------------------------------------------------------
        //                      周边景点                      
        //------------------------------------------------------

        // 1.查找本地存储是否有定位信息
        if (localStorage.getItem("location")) {
            // 2.如果有就直接发请求获取
            write_surrounding_tour();
        } else {
            // 3.如果没有,则程序获取用户定位信息,之后再发请求获取
            getLocation({ myfunc: write_surrounding_tour })
        }



    })


</script>

</html>