<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>旅游</title>
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/travel.css">
    <script src="/static/js/common.js?ver=1"></script>
</head>

<body>

    <div class="container">
        <div class="header">
            <h1 class="logo">和煦天气</h1>
            <div class="searchBox">
                <form>
                    <input type="text" onfocus="this.value = '';" placeholder="输入城市、区县、景点名称 查天气" }"><input type="submit"
                        value="">
                </form>
            </div>

            <ul class="topNav">
                <li>
                    <a href="/index">首页</a>
                </li>
                <li>
                    <a href="/weather">天气</a>
                </li>
                <li>
                    <a href="/news">资讯</a>
                </li>
                <li>
                    <a href="/trip">出行</a>
                </li>
                <li>
                    <a href="/travel">旅游</a>
                </li>
            </ul>
            <ul class="topLR">
                <li>
                    <a href="/login">登录</a>/
                    <a href="/register">注册</a>
                </li>
            </ul>
            <div class="active_dp">
                <p>
                    <span><a href="/index">首页</a></span>
                    >>
                    <span>旅游</span>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="c-banner">
                <div class="banner">
                    <ul>
                        <li><img src="/static/images/u225_state1.png"></li>
                        <li><img src="/static/images/u225_state1.png"></li>
                        <li><img src="/static/images/u225_state1.png"></li>
                    </ul>
                </div>
                <div class="nexImg">
                    <img src="/static/images/nexImg.png" />
                </div>
                <div class="preImg">
                    <img src="/static/images/preImg.png" />
                </div>
                <div class="jumpBtn">
                    <ul>
                        <li jumpImg="0"></li>
                        <li jumpImg="1"></li>
                        <li jumpImg="2"></li>
                    </ul>
                </div>
            </div>

            <div class="leftcolumn">
                <div class="card">
                    <div id="tral_top_list" style="display: block">
                        <h2>天津十大景点天气</h2>
                        <div class="tral_top">
                            <div class="content">
                                <ul>
                                    <li>
                                        <a href="javascript:void(0);" onclick="swap_tag('test_id', 'test_name')">
                
                                            <img src=""
                                                alt="">
                                            <p>天津之眼</p>
                
                                        </a>
                                        <a
                                            href="javascript:void(0);" onclick="swap_tag('test_id', 'test_name')">
                
                                            <img src=""
                                                alt="">
                                            <p>意大利风情街</p>
                
                                        </a>
                                        <a
                                            href="javascript:void(0);" onclick="swap_tag('test_id', 'test_name')">
                
                                            <img src=""
                                                alt="">
                                            <p>天津古文化街</p>
                
                                        </a>
                                        <a
                                            href="javascript:void(0);" onclick="swap_tag('test_id', 'test_name')">
                
                                            <img src=""
                                                alt="">
                                            <p>天津五大道</p>
                
                                        </a>
                                        <a href="javascript:void(0);" onclick="swap_tag('test_id', 'test_name')">
                
                                            <img src=""
                                                alt="">
                                            <p>瓷房子</p>
                
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" onclick="swap_tag('test_id', 'test_name')">
                
                                            <img src=""
                                                alt="">
                                            <p>海河</p>
                
                                        </a>
                                        <a href="javascript:void(0);" onclick="swap_tag('test_id', 'test_name')">
                
                                            <img src=""
                                                alt="">
                                            <p>天津静园</p>
                
                                        </a>
                                        <a href="javascript:void(0);" onclick="swap_tag('test_id', 'test_name')">
                
                                            <img src=""
                                                alt="">
                                            <p>天津水上</p>
                
                                        </a>
                                        <a href="javascript:void(0);" onclick="swap_tag('test_id', 'test_name')">
                
                                            <img src=""
                                                alt="">
                                            <p>西开教堂</p>
                
                                        </a>
                                        <a href="javascript:void(0);" onclick="swap_tag('test_id', 'test_name')">
                
                                            <img src=""
                                                alt="">
                                            <p>石家大院</p>
                
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="tral_info" style="display: none">
                        <!-- <h2>景点名称</h2> -->
                        <h2></h2>
                        <a href="javascript:void(0);" onclick="swap_tag_back()" id="tral_getback">返回</a>
                        <div class="trav_bottom">
                            <div class="trav_scrollY">
                                <ul class="trav_scroll_content clearfix">
                                    <li>
                                        <!-- <p>星期五</p> -->
                                        <p></p>
                                        <!-- <h3>11月22日</h3> -->
                                        <h3></h3>
                                        <!-- <img src="//static.tianqistatic.com/static/wap2018/ico2/b1.png" alt="" width="42px" height="42px"/> -->
                                        <!-- <div class="trav_weather">多云转阴</div> -->
                                        <div class="trav_weather"></div>
                                        <!-- <div class="trav_temp">4℃~13℃</div> -->
                                        <div class="trav_temp"></div>
                                    </li>
                                    <li>
                                        <!-- <p>星期五</p> -->
                                        <p></p>
                                        <h3></h3>
                                        <!-- <img src="//static.tianqistatic.com/static/wap2018/ico2/b2.png" alt="" width="42px" height="42px"/> -->
                                        <div class="trav_weather"></div>
                                        <div class="trav_temp"></div>
                                    </li>
                                    <li>
                                        <!-- <p>星期五</p> -->
                                        <p></p>
                                        <h3></h3>
                                        <!-- <img src="//static.tianqistatic.com/static/wap2018/ico2/b1.png" alt="" width="42px" height="42px"/> -->
                                        <div class="trav_weather"></div>
                                        <div class="trav_temp"></div>
                                    </li>
                                    <li>
                                        <!-- <p>星期五</p> -->
                                        <p></p>
                                        <h3></h3>
                                        <!-- <img src="//static.tianqistatic.com/static/wap2018/ico2/b0.png" alt="" width="42px" height="42px"/> -->
                                        <div class="trav_weather"></div>
                                        <div class="trav_temp"></div>
                                    </li>
                                    <li>
                                        <!-- <p>星期五</p> -->
                                        <p></p>
                                        <h3></h3>
                                        <!-- <img src="//static.tianqistatic.com/static/wap2018/ico2/b1.png" alt="" width="42px" height="42px"/> -->
                                        <div class="trav_weather"></div>
                                        <div class="trav_temp"></div>
                                    </li>
                                    <li>
                                        <!-- <p>星期五</p> -->
                                        <p></p>
                                        <h3></h3>
                                        <!-- <img src="//static.tianqistatic.com/static/wap2018/ico2/b0.png" alt="" width="42px" height="42px"/> -->
                                        <div class="trav_weather"></div>
                                        <div class="trav_temp"></div>
                                    </li>
                                    <li>
                                        <!-- <p>星期五</p> -->
                                        <p></p>
                                        <h3></h3>
                                        <!-- <img src="//static.tianqistatic.com/static/wap2018/ico2/b0.png" alt="" width="42px" height="42px"/> -->
                                        <div class="trav_weather"></div>
                                        <div class="trav_temp"></div>
                                    </li>
                                    <li>
                                        <!-- <p>星期五</p> -->
                                        <p></p>
                                        <h3></h3>
                                        <!-- <img src="//static.tianqistatic.com/static/wap2018/ico2/b1.png" alt="" width="42px" height="42px"/> -->
                                        <div class="trav_weather"></div>
                                        <div class="trav_temp"></div>
                                    </li>
                                    <li>
                                        <!-- <p>星期五</p> -->
                                        <p></p>
                                        <h3></h3>
                                        <!-- <img src="//static.tianqistatic.com/static/wap2018/ico2/b1.png" alt="" width="42px" height="42px"/> -->
                                        <div class="trav_weather"></div>
                                        <div class="trav_temp"></div>
                                    </li>
                                    <li>
                                        <!-- <p>星期五</p> -->
                                        <p></p>
                                        <h3></h3>
                                        <!-- <img src="//static.tianqistatic.com/static/wap2018/ico2/b2.png" alt="" width="42px" height="42px"/> -->
                                        <div class="trav_weather"></div>
                                        <div class="trav_temp"></div>
                                    </li>
                                    <li>
                                        <!-- <p>星期五</p> -->
                                        <p></p>
                                        <h3></h3>
                                        <!-- <img src="//static.tianqistatic.com/static/wap2018/ico2/b1.png" alt="" width="42px" height="42px"/> -->
                                        <div class="trav_weather"></div>
                                        <div class="trav_temp"></div>
                                    </li>
                                    <li>
                                        <!-- <p>星期五</p> -->
                                        <p></p>
                                        <h3></h3>
                                        <!-- <img src="//static.tianqistatic.com/static/wap2018/ico2/b0.png" alt="" width="42px" height="42px"/> -->
                                        <div class="trav_weather"></div>
                                        <div class="trav_temp"></div>
                                    </li>
                                    <li>
                                        <!-- <p>星期五</p> -->
                                        <p></p>
                                        <h3></h3>
                                        <!-- <img src="//static.tianqistatic.com/static/wap2018/ico2/b0.png" alt="" width="42px" height="42px"/> -->
                                        <div class="trav_weather"></div>
                                        <div class="trav_temp"></div>
                                    </li>
                                    <li>
                                        <!-- <p>星期五</p> -->
                                        <p></p>
                                        <h3></h3>
                                        <!-- <img src="//static.tianqistatic.com/static/wap2018/ico2/b0.png" alt="" width="42px" height="42px"/> -->
                                        <div class="trav_weather"></div>
                                        <div class="trav_temp"></div>
                                    </li>
                                    <li>
                                        <!-- <p>星期五</p> -->
                                        <p></p>
                                        <h3></h3>
                                        <!-- <img src="//static.tianqistatic.com/static/wap2018/ico2/b1.png" alt="" width="42px" height="42px"/> -->
                                        <div class="trav_weather"></div>
                                        <div class="trav_temp"></div>
                                    </li>
                                    <!-- <li>
                                                    <a href="/nankaiqu/tjncphxcjingdian/30/" title="天津南翠屏滑雪场30天天气" target="_blank">
                                                    <div class="jingdian_more_a"><img src="//static.tianqistatic.com/static/img/jingdian_more.png" alt="" width="26px" height="14px"/></div>
                                                    <text style="width:auto">30日天气</text>
                                                    </a>
                                                    </li> -->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <h2>旅游及时报</h2>
                    <div class="tral_title">
                        <!-- <a href="http://www.enorth.com.cn/">查看更多&gt;&gt;</a> -->
                    </div>
                    <div class="bottom">
                        <div class="content">

                            <ul id="trav_list_one">
                                <li>
                                    <a
                                        href="javascript:void(0);" onclick="swap_infopage('test_new_id')">十一出游去哪里？魅力天津"数"风流</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" onclick="swap_infopage('test_new_id')">国庆逢重阳 全家出游来一场重阳味儿的十一假期</a>
                                </li>
                                <li>
                                    <a
                                        href="javascript:void(0);" onclick="swap_infopage('test_new_id')">30万株花草争艳
                                        水上公园“美颜”</a>
                                </li>
                                <li>
                                    <a
                                        href="javascript:void(0);" onclick="swap_infopage('test_new_id')">首博三展展现百余件各地国宝</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" onclick="swap_infopage('test_new_id')">“十一”蓟州赏秋注意安全</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" onclick="swap_infopage('test_new_id')">百亩花海迎国庆
                                        京津国色天香牡丹园开启秋游季</a>
                                </li>
                            </ul>
                            <ul id="trav_list_two">
                                <li>
                                    <a
                                        href="javascript:void(0);" onclick="swap_infopage('test_new_id')">国庆假期出游谨防“低价团”等消费陷阱</a>
                                </li>
                                <li>
                                    <a
                                        href="javascript:void(0);" onclick="swap_infopage('test_new_id')">OYO酒店大数据告诉你“十一”出游“关键词”</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" onclick="swap_infopage('test_new_id')">丰收的锣，敲响了！顺义丰收节活动持续至10月7日</a>
                                </li>
                                <li>
                                    <a
                                        href="javascript:void(0);" onclick="swap_infopage('test_new_id')">北海公园万佛楼和大佛殿遗址将对外开放</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" onclick="swap_infopage('test_new_id')">国庆出游趋势：民宿迎最旺季
                                        景区夜间消费掀热潮</a>
                                </li>
                                <li>
                                    <a
                                        href="javascript:void(0);" onclick="swap_infopage('test_new_id')">国庆假期继续免收7座及以下小型客车通行费</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rightcolumn">
                <div class="card">
                    <h2>周边天气</h2>
                    <ul class="right" id="surrounding_weather">
                        <!-- <li class="headerLine"><span class="view">地区</span><span>天气</span><span>气温</span></li>
                        <li class="firstLine"><span class="view">和平区</span><span>多云转阴</span><span>17 ~ 30℃</span></li>
                        <li><span class="view">河东区</span><span>多云转阴</span><span>17 ~ 30℃</span></li>
                        <li><span class="view">河西区</span><span>多云转阴</span><span>17 ~ 30℃</span></li>
                        <li><span class="view">南开区</span><span>多云转阴</span><span>17 ~ 30℃</span></li>
                        <li><span class="view">河北区</span><span>多云转阴</span><span>17 ~ 30℃</span></li>
                        <li><span class="view">红桥区</span><span>多云转阴</span><span>17 ~ 30℃</span></li>
                        <li><span class="view">东丽区</span><span>多云转阴</span><span>17 ~ 30℃</span></li>
                        <li><span class="view">西青区</span><span>多云转阴</span><span>17 ~ 30℃</span></li>
                        <li><span class="view">津南区</span><span>多云转阴</span><span>17 ~ 30℃</span></li>
                        <li><span class="view">北辰区</span><span>多云转阴</span><span>17 ~ 30℃</span></li>
                        <li><span class="view">武清区</span><span>多云转阴</span><span>17 ~ 30℃</span></li>
                        <li><span class="view">宝坻区</span><span>多云转阴</span><span>17 ~ 30℃</span></li>
                        <li><span class="view">滨海新区</span><span>多云转阴</span><span>17 ~ 30℃</span></li>
                        <li><span class="view">宁河区</span><span>多云转阴</span><span>17 ~ 30℃</span></li>
                        <li><span class="view">静海区</span><span>多云转阴</span><span>17 ~ 30℃</span></li>
                        <li><span class="view">蓟州区</span><span>多云转阴</span><span>17 ~ 30℃</span></li> -->
                    </ul>
                </div>
            </div>
        </div>

        <div class="footer">
            <p>
                <span>相关链接：</span>
                <a target="_blank" href="http://www.cma.gov.cn/">中国气象局</a>
                <a target="_blank" href="http://www.chinamsa.org">中国气象服务协会</a>
                <a target="_blank" href="http://www.weathertv.cn/">中国天气频道</a>
                <a target="_blank" href="http://www.xn121.com/">中国天气网</a>
            </p>
            <hr>
            <p>Copyright &copy; 2019.和煦天气网 All rights reserved</p>
        </div>
    </div>

</body>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/banner.js"></script>
<script src="/static/js/travel.js"></script>

<script>
    // 标签切换: 十大景点 -> 景点天气
    function swap_tag(scenic_id, scenic_name){
        var tral_top_list = $("#tral_top_list")
        var tral_info = $("#tral_info")
        tral_top_list.css('display', 'none')
        tral_info.css('display', 'block')
        write_tral_info(scenic_id, scenic_name)
    }
    // 渲染景点天气详情数据
    function write_tral_info(scenic_id, scenic_name){
        var $location = localStorage.getItem("location");
            $.ajax({
                type: "get",
                url: "http://127.0.0.1:8000/api/v1/tour/" + $location + "?weather_info=1&scenic_site_id=" + scenic_name,
                success: function (result) {
                    // result = {
                    //     'code': 200,
                    //     'data': {
                    //         'week': ['星期三', '星期四', '星期五', '星期六', '星期日', '星期一', '星期二'],
                    //         'date': ['11月20日', '11月21日', '11月22日', '11月23日', '11月24日', '11月25日', '11月26日'],
                    //         'weather': ['多云转阴', '多云转阴', '多云转阴', '多云转阴', '多云转阴', '多云转阴', '多云转阴'],
                    //         'temperature': ['0℃~10℃', '0℃~9℃', '0℃~9℃', '0℃~9℃', '0℃~9℃',
                    //             '0℃~9℃', '0℃~9℃']
                    //     }
                    // }
                    if (200 == result.code) {
                        var tral_info = $("#tral_info")
                        var li_tags = tral_info.find(".trav_bottom .trav_scrollY ul li")
                        // 1.修改h2标题
                        tral_info.children("h2").text(scenic_name)
                        li_tags.each(function(index, elem){
                            // 2.循环修改ul下li标签内部子标签的文本内容
                            $(elem).children("p").text(result.data.week[index]);
                            $(elem).children("h3").text(result.data.date[index]);
                            $(elem).children(".trav_weather").text(result.data.weather[index]);
                            $(elem).children(".trav_temp").text(result.data.temperature[index]);
                        })
                    } else {
                        alert(result.error)
                    }
                }
            })
    }
    // 标签切换: 景点天气 -> 十大景点
    function swap_tag_back(){
        var tral_top_list = $("#tral_top_list")
        var tral_info = $("#tral_info")
        tral_info.css('display', 'none')
        tral_top_list.css('display', 'block')
    }

    $(function () {
        showBanner();

        //------------------------------------------------------
        //                      周边天气                      
        //------------------------------------------------------

        // 1.查找本地存储是否有定位信息
        if (localStorage.getItem("location")) {
            // 2.如果有就直接发请求获取
            write_surrounding_weather();
        } else {
            // 3.如果没有,则程序获取用户定位信息,之后再发请求获取
            getLocation({ myfunc: write_surrounding_weather })
        }

        //------------------------------------------------------
        //                      十大景点天气                      
        //------------------------------------------------------
        // 渲染周边景点数据
        function write_tral_top10() {
            var $location = localStorage.getItem("location");
            $.ajax({
                type: "get",
                url: "http://127.0.0.1:8000/api/v1/tour/" + $location + "?top10=1",
                
                success: function (result) {
                    // result = {
                    //     'code': 200,
                    //     'data': {
                    //         'scenic_site_id': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
                    //         'scenic_site_name': ['天津之眼', '水上公园', '津湾广场', '天津之眼', '水上公园', '津湾广场', '天津之眼', '水上公园', '津湾广场', '天津之眼'],
                    //         'img_src': ['/static/images/tour/img1.png',
                    //             '/static/images/tour/img2.png',
                    //             '/static/images/tour/img3.png',
                    //             '/static/images/tour/img4.png',
                    //             '/static/images/tour/img5.png',
                    //             '/static/images/tour/img6.png',
                    //             '/static/images/tour/img7.png',
                    //             '/static/images/tour/img8.png',
                    //             '/static/images/tour/img9.png',
                    //             '/static/images/tour/img10.png'
                    //         ]
                    //     }
                    // }
                    if (200 == result.code) {
                        var tral_top_tag = $("#tral_top_list .tral_top .content ul li a")
                        // console.log(tral_top_tag)
                        tral_top_tag.each(function(index, elem){
                            // 给a标签添加单击事件
                            $(elem).attr('onclick', 'swap_tag("' + result.data.scenic_site_id[index] + '", "' + result.data.scenic_site_name[index] + '")')
                            // 给img标签添加src 及 alt属性
                            $(elem).children("img").attr('src', result.data.img_src[index])
                            $(elem).children("img").attr('alt', result.data.scenic_site_name[index])
                            // 给p标签添加文本
                            $(elem).children("p").text(result.data.scenic_site_name[index])
                        })
                    } else {
                        alert(result.error)
                    }
                }
            })
        }
        // 1.查找本地存储是否有定位信息
        if (localStorage.getItem("location")) {
            // 2.如果有就直接发请求获取
            write_tral_top10();
        } else {
            // 3.如果没有,则程序获取用户定位信息,之后再发请求获取
            getLocation({ myfunc: write_tral_top10 })
        }

        //------------------------------------------------------
        //                      旅游及时报                      
        //------------------------------------------------------
        // 渲染旅游及时报列表数据
        function write_trav_news_list() {
            var $location = localStorage.getItem("location");
            // 旅游及时报列表1 城市相关
            $.ajax({
                type: "get",
                url: "http://127.0.0.1:8000/api/v1/news/" + $location + "?tour=1&city=1",
                
                success: function (result) {
                    // result = {
                    //     'code': 200,
                    //     'data': {
                    //         'n_id': [1, 2, 3, 4, 5, 6],
                    //         'title': [
                    //             '十一出游去哪里？魅力天津"数"风流',
                    //             '百亩花海迎国庆 京津国色天香牡丹园开启秋游季',
                    //             '国庆逢重阳 全家出游来一场重阳味儿的十一假期',
                    //             '30万株花草争艳 水上公园“美颜”',
                    //             '首博三展展现百余件各地国宝',
                    //             '“十一”蓟州赏秋注意安全'
                    //         ]
                    //     }
                    // }
                    if (200 == result.code) {
                        var trav_list_one = $("#trav_list_one li")
                        // console.log(trav_list_one)
                        trav_list_one.each(function(index, elem){
                            // 给a标签添加单击事件
                            $(elem).children("a").attr('onclick', 'swap_infopage("' + result.data.n_id[index] + '")')
                            // console.log($(elem).children("a"))
                            // 给a标签添加文本
                            $(elem).children("a").text(result.data.title[index])
                        })
                    } else {
                        alert(result.error)
                    }
                }
            })
            // 旅游及时报列表2 全国旅游
            $.ajax({
                type: "get",
                url: "http://127.0.0.1:8000/api/v1/news/" + $location + "?tour=1",

                success: function (result) {
                    // result = {
                    //     'code': 200,
                    //     'data': {
                    //         'n_id': [1, 2, 3, 4, 5, 6],
                    //         'title': [
                    //             '国庆假期出游谨防“低价团”等消费陷阱',
                    //             'OYO酒店大数据告诉你“十一”出游“关键词”',
                    //             '北海公园万佛楼和大佛殿遗址将对外开放',
                    //             '国庆出游趋势：民宿迎最旺季 景区夜间消费掀热潮',
                    //             '国庆假期继续免收7座及以下小型客车通行费',
                    //             '丰收的锣，敲响了！顺义丰收节活动持续至10月7日'
                    //         ]
                    //     }
                    // }
                    if (200 == result.code) {
                        var trav_list_two = $("#trav_list_two li")
                        // console.log(trav_list_one)
                        trav_list_two.each(function (index, elem) {
                            // 给a标签添加单击事件
                            $(elem).children("a").attr('onclick', 'swap_infopage("' + result.data.n_id[index] + '")')
                            // console.log($(elem).children("a"))
                            // 给a标签添加文本
                            $(elem).children("a").text(result.data.title[index])
                        })
                    } else {
                        alert(result.error)
                    }
                }
            })
        }
        // 1.查找本地存储是否有定位信息
        if (localStorage.getItem("location")) {
            // 2.如果有就直接发请求获取
            write_trav_news_list();
        } else {
            // 3.如果没有,则程序获取用户定位信息,之后再发请求获取
            getLocation({ myfunc: write_trav_news_list })
        }


    })


</script>

</html>