<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>旅游</title>
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/travel.css">
</head>

<body>

    <div class="container">
        <div class="header">
            <h1 class="logo">城市天气</h1>
            <div class="searchBox">
                <form>
                    <input type="text" onfocus="this.value = '';" placeholder="输入城市、区县、景点名称 查天气" }"><input type="submit"
                        value="">
                </form>
            </div>

            <ul class="topNav">
                <li>
                    <a href="/index">首页</a>
                </li>
                <li>
                    <a href="/weather">天气</a>
                </li>
                <li>
                    <a href="/news">资讯</a>
                </li>
                <li>
                    <a href="/trip">出行</a>
                </li>
                <li>
                    <a href="/travel">旅游</a>
                </li>
            </ul>
            <ul class="topLR">
                <li>
                    <a href="/login">登录</a>/
                    <a href="/register">注册</a>
                </li>
            </ul>
            <div class="active_dp">
                <p>
                    <span><a href="/index">首页</a></span>
                    >>
                    <span>旅游</span>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="c-banner">
                <div class="banner">
                    <ul>
                        <li><img src="/static/images/u225_state1.png"></li>
                        <li><img src="/static/images/u225_state1.png"></li>
                        <li><img src="/static/images/u225_state1.png"></li>
                    </ul>
                </div>
                <div class="nexImg">
                    <img src="/static/images/nexImg.png" />
                </div>
                <div class="preImg">
                    <img src="/static/images/preImg.png" />
                </div>
                <div class="jumpBtn">
                    <ul>
                        <li jumpImg="0"></li>
                        <li jumpImg="1"></li>
                        <li jumpImg="2"></li>
                    </ul>
                </div>
            </div>

            <div class="leftcolumn">
                <div class="card">
                    <h2>天津十大景点天气</h2>
                    <div class="tral_top">
                        <div class="content">
                            <ul>
                                <li>
                                    <a
                                        href="https://baike.baidu.com/item/%E5%A4%A9%E6%B4%A5%E4%B9%8B%E7%9C%BC/10021404?fr=aladdin">

                                        <img src="https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=2685790973,148895552&amp;fm=26&amp;gp=0.jpg"
                                            alt="">
                                        <p>天津之眼</p>

                                    </a>
                                    <a
                                        href="https://www.baidu.com/link?url=EdJGYt3gxesW5vzsweFf1s-GCnhMtBVw0AQ-FQftpEO-4LTtcoW3CK_-847ESbfKSwlbctyXPc9srEaMDTQF7okeyWMIxih5xLdA2r8d4ryyNj2YHep-oXSlchNKgA8hRaKjLMzAt4R1P-sc7mbLVKzS3J9M_Zgw0b3STeypuRe&amp;wd=&amp;eqid=a8a633cd0026c932000000025d997627">

                                        <img src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=374931513,3670975917&amp;fm=26&amp;gp=0.jpg"
                                            alt="">
                                        <p>意大利风情街</p>

                                    </a>
                                    <a
                                        href="http://www.baidu.com/link?url=yG8BNrcCickdrx-v6F2tI63krOTubdLgnd-mFZTpzXfXsUecomjZ92wU2RDef9TjDiLVa8hmmYnatgffWZ4FeI2n5VRmrnkIOW49aMPSBvECnIXsqbTD-e8pgjcylnDkNTI_vgsZHeW17x76EGC-Aq">

                                        <img src="https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=2685790973,148895552&amp;fm=26&amp;gp=0.jpg"
                                            alt="">
                                        <p>天津古文化街</p>

                                    </a>
                                    <a
                                        href="https://baike.baidu.com/item/%E4%BA%94%E5%A4%A7%E9%81%93/1093272?fromtitle=%E5%A4%A9%E6%B4%A5%E4%BA%94%E5%A4%A7%E9%81%93&fromid=3467481">

                                        <img src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=374931513,3670975917&amp;fm=26&amp;gp=0.jpg"
                                            alt="">
                                        <p>天津五大道</p>

                                    </a>
                                    <a href="https://baike.baidu.com/item/%E7%93%B7%E6%88%BF%E5%AD%90">

                                        <img src="https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=2685790973,148895552&amp;fm=26&amp;gp=0.jpg"
                                            alt="">
                                        <p>瓷房子</p>

                                    </a>
                                </li>
                                <li>
                                    <a href="https://baike.baidu.com/item/%E6%B5%B7%E6%B2%B3">

                                        <img src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=374931513,3670975917&amp;fm=26&amp;gp=0.jpg"
                                            alt="">
                                        <p>海河</p>

                                    </a>
                                    <a href="https://baike.baidu.com/item/%E5%A4%A9%E6%B4%A5%E9%9D%99%E5%9B%AD">

                                        <img src="https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=2685790973,148895552&amp;fm=26&amp;gp=0.jpg"
                                            alt="">
                                        <p>天津静园</p>

                                    </a>
                                    <a
                                        href="https://baike.baidu.com/item/%E5%A4%A9%E6%B4%A5%E6%B0%B4%E4%B8%8A%E5%85%AC%E5%9B%AD">

                                        <img src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=374931513,3670975917&amp;fm=26&amp;gp=0.jpg"
                                            alt="">
                                        <p>天津水上</p>

                                    </a>
                                    <a href="https://baike.baidu.com/item/%E8%A5%BF%E5%BC%80%E6%95%99%E5%A0%82">

                                        <img src="https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=2685790973,148895552&amp;fm=26&amp;gp=0.jpg"
                                            alt="">
                                        <p>西开教堂</p>

                                    </a>
                                    <a href="https://baike.baidu.com/item/%E7%9F%B3%E5%AE%B6%E5%A4%A7%E9%99%A2">

                                        <img src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=374931513,3670975917&amp;fm=26&amp;gp=0.jpg"
                                            alt="">
                                        <p>石家大院</p>

                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <h2>旅游及时报</h2>
                    <div class="tral_title">
                        <a href="http://www.enorth.com.cn/">查看更多&gt;&gt;</a>
                    </div>
                    <div class="bottom">
                        <div class="content">

                            <ul>
                                <li>
                                    <a
                                        href=" http://travel.enorth.com.cn/system/2019/09/26/037688757.shtml">十一出游去哪里？魅力天津"数"风流</a>
                                </li>
                                <li>
                                    <a href="http://www.shundecity.com/s/ts/2014/gqj.html">国庆逢重阳 全家出游来一场重阳味儿的十一假期</a>
                                </li>
                                <li>
                                    <a
                                        href="https://baike.baidu.com/item/%E5%A4%A9%E6%B4%A5%E6%B0%B4%E4%B8%8A%E5%85%AC%E5%9B%AD/10681768?fromtitle=%E6%B0%B4%E4%B8%8A%E5%85%AC%E5%9B%AD&fromid=74812&fr=aladdin">30万株花草争艳
                                        水上公园“美颜”</a>
                                </li>
                                <li>
                                    <a
                                        href="http://news.cctv.com/2019/09/26/ARTIZZQrM2yStymi7qGOJ3r8190926.shtml">首博三展展现百余件各地国宝</a>
                                </li>
                                <li>
                                    <a href="https://new.qq.com/omn/20181026/20181026F0VH4J.html">“十一”蓟州赏秋注意安全</a>
                                </li>
                                <li>
                                    <a href=" https://www.jixian.net/article/article_23493.html">百亩花海迎国庆
                                        京津国色天香牡丹园开启秋游季</a>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <a
                                        href="http://www.dzwww.com/xinwen/guoneixinwen/201909/t20190926_19214586.htm">国庆假期出游谨防“低价团”等消费陷阱</a>
                                </li>
                                <li>
                                    <a
                                        href="http://www.xinhuanet.com/enterprise/2019-09/27/c_1125047828.htm">OYO酒店大数据告诉你“十一”出游“关键词”</a>
                                </li>
                                <li>
                                    <a href="https://bj.jjj.qq.com/a/20190926/002558.htm">丰收的锣，敲响了！顺义丰收节活动持续至10月7日</a>
                                </li>
                                <li>
                                    <a
                                        href="http://www.bj.xinhuanet.com/bjyw/2019-09/25/c_1125039346.htm">北海公园万佛楼和大佛殿遗址将对外开放</a>
                                </li>
                                <li>
                                    <a href="http://travel.people.com.cn/n1/2019/0925/c41570-31372752.html">国庆出游趋势：民宿迎最旺季
                                        景区夜间消费掀热潮</a>
                                </li>
                                <li>
                                    <a
                                        href="http://ah.sina.cn/news/2019-09-27/detail-iicezueu8643216.d.html?cre=tianyi&mod=whome&loc=7&r=25&rfunc=3&tj=cx_wap_whome&tr=188&vt=4&pos=108&his=0">国庆假期继续免收7座及以下小型客车通行费</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rightcolumn">
                <div class="card">
                    <h2>周边天气</h2>
                    <ul class="right" id="surrounding_weather">
                        <!-- <li class="headerLine"><span class="view">地区</span><span>天气</span><span>气温</span></li>
                        <li class="firstLine"><span class="view">和平区</span><span>多云转阴</span><span>17 ~ 30℃</span></li>
                        <li><span class="view">河东区</span><span>多云转阴</span><span>17 ~ 30℃</span></li>
                        <li><span class="view">河西区</span><span>多云转阴</span><span>17 ~ 30℃</span></li>
                        <li><span class="view">南开区</span><span>多云转阴</span><span>17 ~ 30℃</span></li>
                        <li><span class="view">河北区</span><span>多云转阴</span><span>17 ~ 30℃</span></li>
                        <li><span class="view">红桥区</span><span>多云转阴</span><span>17 ~ 30℃</span></li>
                        <li><span class="view">东丽区</span><span>多云转阴</span><span>17 ~ 30℃</span></li>
                        <li><span class="view">西青区</span><span>多云转阴</span><span>17 ~ 30℃</span></li>
                        <li><span class="view">津南区</span><span>多云转阴</span><span>17 ~ 30℃</span></li>
                        <li><span class="view">北辰区</span><span>多云转阴</span><span>17 ~ 30℃</span></li>
                        <li><span class="view">武清区</span><span>多云转阴</span><span>17 ~ 30℃</span></li>
                        <li><span class="view">宝坻区</span><span>多云转阴</span><span>17 ~ 30℃</span></li>
                        <li><span class="view">滨海新区</span><span>多云转阴</span><span>17 ~ 30℃</span></li>
                        <li><span class="view">宁河区</span><span>多云转阴</span><span>17 ~ 30℃</span></li>
                        <li><span class="view">静海区</span><span>多云转阴</span><span>17 ~ 30℃</span></li>
                        <li><span class="view">蓟州区</span><span>多云转阴</span><span>17 ~ 30℃</span></li> -->
                    </ul>
                </div>
            </div>
        </div>

        <div class="footer">
            <p>
                <span>相关链接：</span>
                <a target="_blank" href="http://www.cma.gov.cn/">中国气象局</a>
                <a target="_blank" href="http://www.chinamsa.org">中国气象服务协会</a>
                <a target="_blank" href="http://www.weathertv.cn/">中国天气频道</a>
                <a target="_blank" href="http://www.xn121.com/">中国天气网</a>
            </p>
            <hr>
            <p>Copyright &copy; 2019.城市天气网 All rights reserved</p>
        </div>
    </div>

</body>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/banner.js"></script>
<script src="/static/js/travel.js"></script>
<script src="/static/js/common.js"></script>
<script>

    $(function () {
        showBanner();

        //------------------------------------------------------
        //                      周边天气                      
        //------------------------------------------------------

        // 1.查找本地存储是否有定位信息
        if (localStorage.getItem("location")) {
            // 2.如果有就直接发请求获取
            write_surrounding_weather();
        } else {
            // 3.如果没有,则程序获取用户定位信息,之后再发请求获取
            getLocation({ myfunc: write_surrounding_weather })
        }





    })


</script>

</html>